
 div {
	margin: 0;
	padding: 20px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align:top;
}

html {
background-image: url(image.jpg);
background-color: #393a3d;
background-repeat: no-repeat;	
background-position: center;	
background-size: cover;

}
#header{
text-align: center;
}
#image{
	position: absolute;
	visibility: visible;
	left: 1070px;
	top: 14px;
	height: 100px;
	width: 150px;
}
#item{
display: inline;
}
#item1 img{
width:300;
height:200;
border:0;

}

#item2 img{
width:300;
 height:200;
 border:0;
}
.items img {
width:300;
height:200;
border:0;
}

.img-circle {

border-radius: 50%;
}

body {
background-color: #FFFFFF;
font-family: Ariel, sans-serif;
border: 10px solid #111111;
width: 1000px ;
margin: 0px auto;
margin-bottom: 10px;
padding: 20px;

}

.item{
width: 100%;
border-bottom: 2px solid #000000;
}
.item-icon {
width: 25%;
display: inline-block;
}
* {
    box-sizing: border-box;
}
.item-icon img {

	width: 200px;
	height: 200px;
}
.item-description {
width: 60%;
display: inline-block;
}


#ballet, #music, #travel {
float: right;
display: inline;
position: absolute;
right: 300px;
	
}


#navbar ul {


overflow: hidden;
width: 900px;
height: 13%;
background-color: white;

}

#navbar li {
display: block;
list-style-type: none;
 float: left;
 margin: 30px;
 padding: 2px;
font-size: 15;
}

#navbar li a {
	display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 16;
	color: #646566;
	font-style: italic;
	
	
	
}

#navbar li a:hover {
	background-color: #008080;
	color: white;
}

 h2{
	 font-weight: lighter;
	 font-style: Italic;
	text-decoration: underline;
	font-size: 28;
 }
 
 #footer {
text-align: center;

 }
 
.MyButton {
width: 350px;
padding: 2px;
cursor: pointer;
font-weight: italic;
font-size: 16;
background: #008080;
color: #fff;
border: 1px solid #008080;
border-radius: 10px;
margin: 20px;
text-align: center;
box-shadow: 0 9px #e0e0e0;

 }
 
 .MyButton:hover {
background-color: #ced9e2;
 border: 1px solid #ced9e2;
 }
 
 #content {
min-height: 50%;
 }

 
 
 
 
