<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Michelle Mc Carthy</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap.custom.css" rel="stylesheet">

  
  </head>
  <body>
  
  
  
  <div  id="body" class="container" >
		<div id="header" class="row">
		
		
			<div id="image" class= "col-md-4">
			
			</div>	
			
		</div>
	


	
	<nav class="navbar navbar-inverse navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="homepage.html">Michelle Mc Carthy</a>
    </div>
    <ul class="nav navbar-nav nav-tabs">
      
      <li class="active"><a href="index.html"><span class="glyphicon glyphicon-user"></span>Personal Details</a></li>
      <li><a href="education.html"><span class="glyphicon glyphicon-education"></span>Education</a></li>
      <li><a href="work_experience.html"><span class="glyphicon glyphicon-briefcase"></span>Work Experience and Achievements</a></li>
	  <li><a href="interests.html"><span class="glyphicon glyphicon-headphones"></span>My Interests</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact Me!</a></li>
  </div>
</nav>


<div id="content" class="row">
{{ content }}
</div>
	
</div>
</div>
    <script src="js/jquery-1.12.4.min.js"></script>

    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
